<ion-view title="Stories (StoriesService)">

	<ion-nav-buttons side="left">
    	<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  	</ion-nav-buttons>
  	
	<ion-content>
		<!-- Embedding list in a <div> and using collection-repeat -->
		<div class="list">
			<a class="item my-item"
			collection-repeat="story in stories"
			collection-item-height="100" 
			collection-item-width="'100%'"
			ng-style="{'line-height' :'100px'}"
			ui-sref="app.stories.detail({story: $index})">
				{{story.number}}. {{story.title}}
    		</a>
		</div>

		<!-- Using ion-list and ion-item with collection-repeat --
		<ion-list>
			<ion-item class="my-item"
			collection-repeat="story in stories"
			collection-item-height="100" 
			collection-item-width="'100%'"
			ng-style="{'line-height' :'100px'}"
			href="#/app/search/{{story.pub_id}}?story_title={{story.title}}&story_text={{story.text}}&authors={{story.authors[0]}}">
				{{story.title}}
			</ion-item>
		</ion-list -->
		<!-- Using ion-list and ion-item with ng-repeat --
		<ion-list>
			<ion-item class="my-item"
			ng-repeat="story in stories"
			ng-style="{'line-height' :'100px'}"
			href="#/app/search/{{story.pub_id}}?story_title={{story.title}}&story_text={{story.text}}&authors={{story.authors[0]}}">
				{{story.title}}
			</ion-item>
		</ion-list-->

		<!-- Infinite scrolling -->
		<ion-infinite-scroll on-infinite="loadMoreStories()" distance="5%"></ion-infinite-scroll>
	</ion-content>

</ion-view>