
<ion-view title="Stories">

	<ion-nav-buttons side="left">
    	<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  	</ion-nav-buttons>

  	<!-- 
  	NOTE: Regarding the search box for the stories (<form> and <input>) for some reason if we dont't explicitly add the ng-controller
  	to the ion-content, the ng-model won't be binded to the controller. Here's a related discussion in Ionic's forum 
  	http://forum.ionicframework.com/t/cant-access-form-on-scope/679/8. 
  	-->
	<ion-content ng-controller="StoriesSearchController">
		<!-- Search box -->
		<div class="bar bar-header item-input-inset">
			<label class="item-input-wrapper">
				<i class="icon ion-ios7-search placeholder-icon"></i>
				<form ng-submit="submit()">
					<input type="search" placeholder="Search" ng-model="query" ng-change="searchDidChange()">
				</form>
			</label>
		</div>

		<div class="list">
			<a class="item my-item"
			collection-repeat="story in stories"
			collection-item-height="100" 
			collection-item-width="'100%'"
			ng-style="{'line-height' :'100px'}"
			ui-sref="app.stories-search.detail({story: $index})">
				{{story.title}}
    		</a>
		</div>

		<!-- Infinite scrolling -->
		<!-- <ion-infinite-scroll on-infinite="loadMoreStories()" distance="5%"></ion-infinite-scroll> -->
	</ion-content>
</ion-view>