<ion-view title="Roll Call">
	<!-- <ion-pane> -->
	<ion-nav-bar class="bar-stable item-input-inset" ng-controller="ActiveSearchBarController">

		<!-- Navigation Bar Menu button-->
  		<div ng-if="!isSearchBarShown()">
			<ion-nav-buttons side="left">
				<button menu-toggle="left" class="button button-icon icon ion-navicon button-clear button-positive"></button>
			</ion-nav-buttons>
			<ion-nav-buttons side="right">
				<button class="button button-icon icon ion-ios7-search button-clear button-positive" on-tap="showActiveSearchBar()"></button>
			</ion-nav-buttons>
		</div>
  		<!-- Navigation Bar Menu button End-->

  		<!-- Active Search bar -->
		<label class="item-input-wrapper" ng-show="isSearchBarShown()">
			<i class="icon ion-ios7-search placeholder-icon"></i>
			<form ng-submit="submit()" class="search-bar">
				<input type="search" placeholder="Search stories" ng-model="query" ng-change="searchDidChange()">
			</form>
		</label>
		<button class="button button-icon button-clear button-positive" on-tap="hideSearchBox()" ng-show="isSearchBarShown()">Cancel</button>
		<!-- Active Search bar End -->
	</ion-nav-bar>

	<!-- List of stories -->
	<ion-content>
		<!-- Stories List -->
		<div class="list">
			<a class="item item-icon-right my-item"
			collection-repeat="story in stories()"
			collection-item-height="80" 
			collection-item-width="'100%'"
			ng-style="{'line-height' :'80px'}"
			ui-sref="app.stories-search.detail({story: $index})">
			<i class="icon ion-chevron-right icon-accessory"></i>
			<p ng-bind-html="story.title"></p>
    		</a>
		</div>
		<!-- Stories List End-->

		<!-- Infinite scrolling -->
		<ion-infinite-scroll on-infinite="loadMoreStories()" distance="5%" ng-if="moreDataCanBeLoaded()"></ion-infinite-scroll>
	</ion-content>
</ion-view>