<ion-view title="Story">

	<ion-nav-bar ng-controller="StoryNavigationBarController">
		<ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i>Stories</ion-nav-back-button>
    	</ion-nav-bar>
	</ion-nav-bar>

	<ion-content class="has-header" padding="true">
		<!-- Use this template when using the StoriesService -->
		<div ng-if="story.title">
			<h3> {{story.title}} </h3>
			<br>
			<p>  {{story.text}} </p>
		</div>
		<!-- Use this template when not using the StoriesService. Note: once the service is fully fixed and tested this template will be deleted -->
		<div ng-if="story_title">
			<h3>{{story_title}}</h3>
			<br>
			<p>{{story_text}}</p>
		</div>
	</ion-content>
	
</ion-view>