<ion-view title="Stories"> <!-- title="Stories" -->

	<ion-nav-bar class="item-input-inset" ng-controller="StoriesSearchController">

		<label class="item-input-wrapper" ng-show="isSearchBox">
			<i class="icon ion-ios7-search placeholder-icon"></i>

			<form ng-submit="submit()">
				<input type="search" placeholder="Search" ng-model="query" ng-change="searchDidChange()">
			</form>
		</label>

		<button 
		ng-show="isSearchBox"
		class="button button-icon "
		on-tap="hideSearchBox()">Cancel
		</button>

  		<!-- <div class="bar bar-header" ng-hide="isSearchBox">
			<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  			<button class="button button-icon icon ion-ios7-search" on-tap="showSearchBox()"></button>
		</div> -->

		<ion-nav-buttons side="left" >
    	<button menu-toggle="left" class="button button-icon icon ion-navicon" ng-hide="isSearchBox"></button>
  		</ion-nav-buttons>

		<ion-nav-buttons side="right">
		<button class="button button-icon icon ion-ios7-search" on-tap="showSearchBox()" ng-hide="isSearchBox"></button>
  		</ion-nav-buttons>

	</ion-nav-bar>

<!-- <div ng-show="searchBar">
	<ion-header-bar class="bar-assertive item-input-inset bar-subheader">
	<label class="item-input-wrapper">
			<i class="icon ion-ios7-search placeholder-icon"></i>
			<form ng-submit="submit()">
			<input type="search" placeholder="Search" ng-model="query" ng-change="searchDidChange()">
			</form>
		</label>
	</ion-header-bar>
</div> -->

	<!-- <ion-nav-buttons side="right">
		<button class="button button-icon icon ion-ios7-search" on-tap="showSearchBox()"></button>
  	</ion-nav-buttons>

	<ion-nav-buttons side="left">
    	<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  	</ion-nav-buttons> -->


  	<!-- 
  	NOTE: Regarding the search box for the stories (<form> and <input>) for some reason if we dont't explicitly add the ng-controller
  	to the ion-content, the ng-model won't be binded to the controller. Here's a related discussion in Ionic's forum 
  	http://forum.ionicframework.com/t/cant-access-form-on-scope/679/8. -->
	<!-- <ion-content ng-controller="StoriesSearchController"> -->
	<ion-content>
		<!-- 
		Pull to refresh. The default behavior is to performa general search. 
		NOTE: once infinite scrolling and paging is enabled, I'll have to keep track of the search page and position so after the refresh we go back to the same place.--
		<ion-refresher 
		refreshing-icon="ion-loading-d"
    	pulling-text="Pull to refresh..."
    	on-refresh="performSearch()">
  		</ion-refresher-->

		<!-- Stories List -->
		<div class="list">
			<a class="item item-icon-right my-item"
			collection-repeat="story in stories"
			collection-item-height="100" 
			collection-item-width="'100%'"
			ng-style="{'line-height' :'100px'}"
			ui-sref="app.stories-search.detail({story: $index})">  
			<i class="icon ion-chevron-right icon-accessory"></i>
				{{story.title}}
    		</a>
		</div>

		<!-- Infinite scrolling -->
		<ion-infinite-scroll on-infinite="loadMoreStories()" distance="5%" ng-if="moreDataCanBeLoaded()"></ion-infinite-scroll>

	</ion-content>
</ion-view>

