/* Empty. Add your own CSS if you like */
.my-item {

  left: 0;
  right: 0;
  padding-top: 0;
  padding-bottom: 0;
}

/*#search-bar {
  background: none;
  position: absolute;
  width: 100%;
  top: 44px;
  height: 40px;
  z-index: 3;
}*/