/* Empty. Add your own CSS if you like */
.my-item {

  left: 0;
  right: 0;
  padding-top: 0;
  padding-bottom: 0;
}

/* To have a mobile-like cursor */
body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}